<html xmlns:th="http://www.thymeleaf.org">


<div th:fragment="body">
<style>
.home{
font-size:1.5rem;
padding :100px;
}

</style>
<div class="home">
<p>
	   Welcome to the Country Search Website.

This website was designed and developed by <b>Amin Naeini</b> to provide a simple and useful way to explore countries around the world.

The purpose of this website is to help users search for countries and discover useful information such as country names, capitals, regions, populations, flags, and other important details.

Using the Search Countries section, users can easily enter the name of a country and access available information about it.

This project was created to make learning about different countries easier, faster, and more enjoyable.

Thank you for visiting the Country Search Website!

</p>
</div>

</html>